:host {
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.wrapper {
  width: 220px !important;
  position: fixed !important;
  bottom: 0.2rem !important;
  right: 1rem !important;
  text-align: center !important;
  font-family: 'Rubik', sans-serif !important;
}
p {
  font-family: 'Rubik', sans-serif !important;
}

div {
  font-family: 'Rubik', sans-serif !important;
}

.button {
  border-radius: 0.375rem !important;
  cursor: pointer !important;
  height: 3rem !important;
  box-shadow: 4px 4px 4px rgba(134, 134, 134, 0.8) !important;
  overflow: hidden !important;
  align-items: center !important;
}

.cta-text {
  display: inline-block !important;
  height: auto !important;
  margin-left: 0.5rem !important;
}

.by {
  color: #282828 !important;
  background-color: transparent !important;
  margin-top: 0.3rem !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.leadsales_link {
  text-decoration: none !important;
  color: #3f40c2 !important;
  font-weight: 400 !important;
  font-family: 'Rubik', sans-serif !important;
}

.image {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-bottom: -0.3rem !important;
}

.card {
  background-color: #f6f6fa !important;
  width: full !important;
  margin-bottom: 1rem !important;
  border-bottom-left-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  box-shadow: 4px 4px 4px rgba(134, 134, 134, 0.8) !important;
}

.row_item {
  cursor: pointer !important;
  height: auto !important;
}

.row_item:hover {
  background-color: rgba(121, 121, 197, 0.3) !important;
}

.integration {
  display: inline-block !important;
  height: auto !important;
  margin-left: 0.5rem !important;
  font-family: 'Rubik', sans-serif !important;
}

hr {
  border: 0 !important;
  height: 1px !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(192, 192, 192, 0.75), rgba(0, 0, 0, 0)) !important;
}

.list_image {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-bottom: -0.5rem !important;
}

.title {
  color: #fff !important;
  height: auto !important;
  width: full !important;
  padding: 1rem !important;
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
  box-shadow: 4px 4px 4px rgba(134, 134, 134, 0.8) !important;
  font-family: 'Rubik', sans-serif !important;
}

.hidden {
  visibility: hidden !important;
}

.space {
  height: 9px !important;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100px !important;
    position: fixed !important;
    bottom: 0.2rem !important;
    right: 1rem !important;
    text-align: center !important;
  }

  .button {
    width: 50px !important;
    padding: 0.5rem !important;
    border-radius: 9999px !important;
    margin-left: 1rem !important;
  }

  .cta-text {
    display: none !important;
  }

  .image {
    width: 2rem !important;
    height: 2rem !important;
    margin-bottom: -1.4rem !important;
  }

  .by {
    width: 100px !important;
    color: #282828 !important;
    background-color: transparent !important;
    margin-top: 0.3rem !important;
    font-size: 0.7rem !important;
    line-height: 1rem !important;
  }

  .leadsales_link {
    text-decoration: none !important;
    color: #3f40c2 !important;
    font-weight: 500 !important;
  }

  .title {
    display: none !important;
  }

  hr {
    display: none !important;
  }

  .row_item {
    border-radius: 9999px !important;
    width: 50px !important;
    height: 48px !important;
    padding: 0.5rem !important;
    cursor: pointer !important;
    background-color: rgb(226, 226, 226) !important;
    box-shadow: 4px 4px 4px rgba(134, 134, 134, 0.8) !important;
    margin-bottom: 0.5rem !important;
    margin-left: 1rem !important;
  }

  .integration {
    display: none !important;
  }

  .card {
    background-color: transparent !important;
    box-shadow: none !important;
  }
}
