:host {
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.leadsales__wrapper {
  width: 220px !important;
  text-align: center !important;
  font-family: 'Rubik', sans-serif !important;
}
p {
  font-family: 'Rubik', sans-serif !important;
}

div {
  font-family: 'Rubik', sans-serif !important;
}

.leadsales__button {
  border-radius: 0.375rem !important;
  cursor: pointer !important;
  height: 3rem !important;
  box-shadow: 4px 4px 4px rgba(134, 134, 134, 0.8) !important;
  overflow: hidden !important;
  align-items: center !important;
}

.leadsales__cta-text {
  display: inline-block !important;
  margin-top: 12px !important;
  height: auto !important;
  margin-left: 0.5rem !important;
}

.leadsales__btn_row {
  margin-top: 0.2rem !important;
}

.leadsales__by {
  color: #282828 !important;
  background-color: transparent !important;
  margin-top: 0.3rem !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.leadsales__leadsales_link {
  text-decoration: none !important;
  color: #3f40c2 !important;
  font-weight: 400 !important;
  font-family: 'Rubik', sans-serif !important;
}

.leadsales__image {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-bottom: -0.4rem !important;
}

.leadsales__card {
  background-color: #f6f6fa !important;
  width: full !important;
  margin-bottom: 1rem !important;
  border-bottom-left-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  box-shadow: 4px 4px 4px rgba(134, 134, 134, 0.8) !important;
}

.leadsales__row_item {
  cursor: pointer !important;
}

.leadsales__row_item:hover {
  background-color: rgba(121, 121, 197, 0.3) !important;
}

.leadsales__integration {
  display: inline-block !important;
  height: auto !important;
  margin-left: 0.5rem !important;
  font-family: 'Rubik', sans-serif !important;
}

hr {
  border: 0 !important;
  height: 1px !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(192, 192, 192, 0.75), rgba(0, 0, 0, 0)) !important;
}

.leadsales__list_image {
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-bottom: -0.3rem !important;
}

.leadsales__title {
  height: auto !important;
  width: full !important;
  padding: 1rem !important;
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
  box-shadow: 4px 4px 4px rgba(134, 134, 134, 0.8) !important;
  font-family: 'Rubik', sans-serif !important;
}

.leadsales__hidden {
  visibility: hidden !important;
}

.leadsales__space {
  height: 9px !important;
}

@media (max-width: 600px) {
  .leadsales__wrapper {
    width: 100px !important;
    text-align: center !important;
    font-family: 'Rubik', sans-serif !important;
  }

  p {
    font-family: 'Rubik', sans-serif !important;
  }

  div {
    font-family: 'Rubik', sans-serif !important;
  }

  .leadsales__button {
    width: 50px !important;
    height: 3rem !important;
    padding: 0.5rem !important;
    border-radius: 9999px !important;
    margin-left: 1rem !important;
    overflow: hidden !important;
    align-items: center !important;
  }

  .cta-text {
    display: none !important;
  }

  .leadsales__image {
    width: 2rem !important;
    height: 2rem !important;
    margin-bottom: -0.3rem !important;
  }

  .leadsales__list_image {
    width: 2rem !important;
    height: 2rem !important;
    margin-bottom: -1.5rem !important;
  }

  .leadsales__by {
    width: 100px !important;
    color: #282828 !important;
    background-color: transparent !important;
    margin-top: 0.3rem !important;
    font-size: 0.7rem !important;
    line-height: 1rem !important;
  }

  .leadsales__leadsales_link {
    text-decoration: none !important;
    color: #3f40c2 !important;
    font-weight: 400 !important;
    font-family: 'Rubik', sans-serif !important;
  }

  .leadsales__title {
    display: none !important;
  }

  hr {
    display: none !important;
  }

  .leadsales__row_item {
    border-radius: 9999px !important;
    width: 50px !important;
    height: 48px !important;
    padding: 0.5rem !important;
    cursor: pointer !important;
    background-color: rgb(226, 226, 226) !important;
    box-shadow: 4px 4px 4px rgba(134, 134, 134, 0.8) !important;
    margin-bottom: 0.5rem !important;
    margin-left: 1rem !important;
  }

  .leadsales__btn_row {
    border-radius: 9999px !important;
    width: 50px !important;
    height: 48px !important;
    cursor: pointer !important;
    padding-top: 0.45rem !important;
    padding-left: 0.15rem !important;
  }

  .leadsales__integration {
    display: none !important;
  }

  .leadsales__card {
    background-color: transparent !important;
    box-shadow: none !important;
  }
}
